<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="DefaultConnectionString"
	connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TutorialDB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="TutorialDBForms.Properties.Settings.mssDBConnectionString"
   connectionString="Data Source=MASTER\PIERWSZY;Initial Catalog=mssDB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>